body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #fbabd3, #81cfff);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .WeatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }

  .CityInput {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 2px solid gray;
    padding-left: 15px;
    font-weight: 700;
    font-size: 15px;
    transition: border-color 0.3s;
  }

  .CityInput:focus {
    border-color: #81cfff;
    outline: none;
  }

  button {
    height: 40px;
    width: 150px;
    font-weight: 700;
    background-color: rgb(97, 240, 97);
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  button:hover {
    background-color: rgb(80, 200, 80);
    transform: scale(1.05);
  }

  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    background: linear-gradient(100deg, rgb(119, 221, 255), lightgreen);
    border-radius: 15px;
    margin-top: 15px;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    cursor: pointer;
  }

  .Card:hover {
    box-shadow: 5px 5px 25px grey;
    transform: scale(1.02);
  }

  .CityDisplay {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 20px;
  }

  .tempDisplay {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
  }

  .humidityDisplay {
    font-size: 15px;
    margin-top: 10px;
  }

  .descDisplay {
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
  }

  .weatherEmoji {
    font-size: 150px;
    margin-top: -8px;
  }

  .errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 400px) {
    .Card {
      width: 300px;
      height: 400px;
    }

    .CityDisplay {
      font-size: 1.5rem;
    }

    .tempDisplay {
      font-size: 1.5rem;
    }

    .humidityDisplay {
      font-size: 1rem;
    }

    .descDisplay {
      font-size: 1.5rem;
    }

    .weatherEmoji {
      font-size: 100px;
      margin-top: 15px;
    }
  }